*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
}

.content {
  max-width: clamp(79ch, 119ch, 100%);
  margin: auto;
}

h1 {
  text-align: center;
}

fieldset {
  border-radius: 8px;
  border: 1px dashed black;
}

#code-input {
  font-family: monospace;
  width: 100%;
  min-height: 100%;
  border: 0;
  resize: none;
  font-size: 130%;
}

#code-input:is(:active, :focus) {
  outline: none;
}

button {
  padding: 1em;
  background: rebeccapurple;
  color: white;
  min-width: 20%;
  border-radius: 8px;
  margin: 1em 0;
  font-size: 120%;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05, 1.05);
}
